* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .container_text_done {
    text-decoration: line-through;
    margin: 200;
    background-color: rgb(198, 115, 14);
    
} */


/* taskText = header__input2 */